<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>

  <title>Ironhack Twitter</title>
</head>
<body>
  <div id="container">
    <img src="/images/twitter-logo.png"
         class="header-logo" width="150">

    <%- body %>
  </div>
</body>
</html>
