body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweet-container{
  margin-top: 5px;
  background-color: Cornsilk ;
  border-top: 2px solid blue;
}

.date{
  font-family: fantasy;
  font-size: 14px;
}

.button-blue{
  background-color: #7a69f9;
  margin-bottom: 5px;
}

.link{
  background-color: #e6dada;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px;
  border: 1px solid #795353;
}
